hr {
  border-color: #c0e2fd;
}
.post .post-content :not(blockquote):not(.alert)>p {
  margin: 1em 0 0;
}
@media screen and (min-width: 1024px) {
  #cover {
    background-size: contain;
  }
}
@media screen and (max-width: 767px) {
  .post-actions-wrap ul.post-action-nav li.post-action:last-child {
    width: 60px;
  }
}
