hr {
  border-color: #c0e2fd;
}
dl, ol:not(.archive-posts), ul:not(.archive-posts) {
  margin: 1em 0 -2.5em;
}
.post .post-content :not(blockquote):not(.alert) > ol > li:last-child > p,
.post .post-content :not(blockquote):not(.alert) > ul > li:last-child > p {
  margin: 0em 0 4em;
}
@media screen and (min-width: 1024px) {
  #cover {
    background-size: contain;
  }
}
