.post .post-content :not(blockquote):not(.alert) > ol > li:last-child > p {
  margin: 0em 0 4em;
}
.post .post-content :not(blockquote):not(.alert) > ul > li:last-child > p {
  margin: 0em 0 4em;
}
dl, ol, ul {
  margin: 1em 0 -2.5em;
}
hr {
  border-color: #c0e2fd;
}
